<div class="container">

    <div class="form-container">
        <div class="title">Login</div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Enter Your Email:</mat-label>
                <input matInput/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter Password:</mat-label>
                <input type="password" matInput/>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button">
                Login
            </button>
            <br>
            <p>
                OR
            </p>
            <br>
            <button routerLink="/createAccount" mat-raised-button class="signUp-button">
                Create Account
            </button>

        </div>
    </div>
</div>

